@import 'base/config';
@import 'base/colors';

@import 'typecabinet/lib/sass/typecabinet';
@import 'viewport-grid/lib/viewport-grid';
@import 'scss-utils/scss-utils';

@import 'components/map';
@import 'components/frame';


.left {
  float: left;
}
.right {
  float: right;
}

.scalebar {
  background-color: red;
  height: 1rem;
  display: inline-block;
}

.scale-unit {
  @include font-size(-5);
  text-align: center;
  padding-top: $baseline/3;
  margin: 0;
}

.scale {
  width: 100%;
  display: inline-block;
}

.scale-section {
  height: 10px;
  border-left: 1px solid black;
  display: inline-block;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  float: left;
  padding-top: 2px;
  padding-bottom: 2px;
  .scale-fill {
    width: 100%;
    height: 1px;
    display: inline-block;
    padding-top: 1px;
    padding-bottom: 1px;
  }
  &:nth-child(odd) {
    .scale-fill {
      border-top: 3px solid black;
    }
  }
  &:nth-child(even) {
    .scale-fill {
      border-bottom: 3px solid black;
    }
  }
  &:last-child {
    border-right: 1px solid black;
  }
  &.eighth {
    width: 25%;
  }
  &.half {
    width: 50%;
  }
}

.scale-labels {

  h6 {
    display: inline-block;
    padding: 0;
    margin: 0;
    margin-left: -0.5em;
    @include font-size(-6);
    padding-bottom: $baseline/3;
    &:first-of-type {
      margin-left: -0.3em;
    }
    &:last-of-type {
      margin-right: -0.66em;
    }
  }
  .eighth {
    width: 25%;
    display: inline-block;
    float:left;
  }
  .half {
    width: 50%;
    display: inline-block;
    float:left;
  }
}