@mixin tracking($n) {
  letter-spacing: $n * 0.001em;
}

@mixin leading($n) {
  line-height: $n * $baseline;
}

@mixin word-spacing($n) {
  // 1000 - em
  // 500  - en
  // 333  - thick
  // 250  - mid
  // 200  - thin
  // 166  - hair
  word-spacing: $n * 0.001em;
}

.max-line-length {
  max-width: 45rem;
  margin: auto;
}
