// %WhitneyBook {
//   font-family: 'Whitney SSm A', 'Whitney SSm B'; font-weight: 400; font-style: normal;
//   strong { @extend %WhitneySemibold}
//   em { @extend %WhitneyBookItalic}}

// %WhitneyBookItalic {
//   font-family: 'Whitney SSm A', 'Whitney SSm B'; font-weight: 400; font-style: italic;
//   strong { @extend %WhitneySemiboldItalic}}

// %WhitneySemibold {
//   font-family: 'Whitney SSm A', 'Whitney SSm B'; font-weight: 600; font-style: normal;
//   strong { @extend %WhitneyBold}
//   em { @extend %WhitneyBoldItalic}}

// %WhitneySemiboldItalic {
//   font-family: 'Whitney SSm A', 'Whitney SSm B'; font-weight: 600; font-style: italic;
//   strong { @extend %WhitneyBoldItalic}}

// %WhitneyBold {font-family: 'Whitney SSm A', 'Whitney SSm B'; font-weight: 700; font-style: normal;}
// %WhitneyBoldItalic {font-family: 'Whitney SSm A', 'Whitney SSm B'; font-weight: 700; font-style: italic;}


// ┌────────────┐
// │ Structural │
// └────────────┘
$ratio: 1.5; // perfect-fifth
$body-size: 1rem;       // 16px
$small0size: 0.75rem;   // 12px
$baseline:  1.65rem;

// ┌───────────────┐
// │ Font Families │
// └───────────────┘
$header-family:    'Ideal Sans SSm A', 'Ideal Sans SSm B', 'Avenir Next W01', 'Avenir Next', 'Avenir', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;
$body-family:      'Whitney SSm A', 'Whitney SSm B', 'Frutiger W01', "Lucida Grande", "Segoe UI", "Arial", sans-serif !default;
$secondary-family: 'Sentinel SSm A', 'Sentinel SSm B', 'Kepler W08 Caption', Georgia, serif !default;
$code-family:        "Consolas", "Andale Mono", "Lucida Console", "Monaco", "Courier New", Courier, monospace !default;

// ┌───────────────┐
// │ Base Tracking │
// └───────────────┘
$header-tracking: 0;
$body-tracking: 30;
$secondary-tracking: 10;
$code-tracking: 0;

