.content-frame {
  position: absolute;
  width: 100%;
}
  .content-panel {
    // height: 50vh;
    margin-top: 25vh;
    margin-bottom: 75vh;
    box-sizing: border-box;
    background: $off-white;
    padding: $baseline;
    text-align: left;
  }